.tile1,
.tile2,
.tile3,
.tile4,
.tile5,
.tile6,
.tile7,
.tile8,
.tile9 {
    display: table-cell;
    width: 120px;
    height: 120px;
    border: 2px solid rgb(140, 255, 217);
    background: url("../src/slidingPuzzle.png");
    cursor: pointer;
}

.tile1 {
    background-position: left top;
}

.tile2 {
    background-position: center top;
}

.tile3 {
    background-position: right top;
}

.tile4 {
    background-position: left center;
}

.tile5 {
    background-position: center center;
}

.tile6 {
    background-position: right center;
}

.tile7 {
    background-position: left bottom;
}

.tile8 {
    background-position: center bottom;
}

.tile9 {
    background: rgb(14, 21, 44);
    cursor: default;
}

#table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}